#loading {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    background-image: url("../img/loading.png");
    background-repeat: no-repeat;
    background-size: auto 20%;
    background-position: center 35%;
    z-index: 3;
}

#loading div {
    position: relative;
    display: inline-block;
    top: 50%;
    color: rgb(71, 80, 162);
}